<h2>Voting Page</h2>

<% @suggestions.each do |snack| %>
  <strong><%= snack["name"] %></strong><br>
  Last Purchased on <%= snack["lastPurchaseDate"] %><br><br>
<% end %>

<%= link_to "Suggestions Page", suggestions_path %>
